

html { font-size:100%; }


.img-thumbnail {
max-width : 100%
}

.box {
  height: 80px;
  padding: 20px;
  color: #fef;
  background: deepskyblue;
}

.nav{
 margin-left : auto;
 background: #5191fd;
}

.box2{
  height: 80px;
  padding: 20px;
  color: #fef;
  background: black;
}

.h1{
text-align :center;
}

.margin-top-80 {
  margin-top: 80px;
}

.gifstyle{
height :10px;
margin-top: 10px;
margin-bottom :10px;
align :center;
padding =5 px;
background: black;

}

.img {
max-height : 100%;
max-width :100%;
margin : auto;
display : block;
}

.img-comp{

max-height : 100%;
max-width :100%;
margin : auto;
display : block;
}

.h1{
font-size : 30pt;
}

@media (max-width: 700px) {


.h1{
font-size : 20pt;
}

.img {
max-width  : 100%;
max-height:  25%;
margin : auto;
}
.img-comp{
max-height : 100%;
max-width :100%;
margin : auto;
display : block;
}

}
